<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Bookstore</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<table>
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Price</th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.bookYear}"></td>
				<td th:text="${book.price}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</table>
		<a href="/add">Add book</a>
	</body>
</html>