<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Bookstore</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
	<div class="container">
		<h1 class="display-3 text-center">Bookstore</h1>
		<table class="table table-dark table-striped table-hover">
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Price</th>
				<th colspan="2"></th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.bookYear}"></td>
				<td th:text="${book.price}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger" >Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-success" >Edit</a></td>
			</tr>
			<tr>
				<td colspan="7"><a href="/add" class="btn btn-primary">Add book</a></td>
			</tr>
		</table>
	</div>
	</body>
</html>