<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Bookstore's Categories</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
	<div class="container">
		<h1 class="display-3 text-center">Bookstore's Categories</h1>
		<table class="table table-dark table-striped table-hover">
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
			<tr th:each = "category : ${categories}">
				<td th:text="${category.categoryname}"></td>
				<td><a th:href="@{/deleteCategory/{id}(id=${category.categoryid})}" class="btn btn-danger" >Delete</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="/addcategory" class="btn btn-primary">New category</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="/booklist" class="btn btn-primary">Return</a></td>
			</tr>
		</table>
	</div>
	</body>
</html>