<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Edit book</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
		<div class="container">
			<h1 class="display-3 text-center">Edit book</h1>
			<form th:object=${book} th:action="@{../save}" action="#" method="POST">
				<input type="hidden" id="id" th:field="*{id}"/>
				<div class="mb-3">
					<label for="author" class="form-label">Author </label>
					<input type=text id="author" th:field="*{author}" class="form-control"/>	
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">Title </label>
					<input type=text id="title" th:field="*{title}" class="form-control"/>
				</div>
				<div class="mb-3">
					<label for="isbn" class="form-label">ISBN </label>
					<input type=text id="isbn" th:field="*{isbn}" class="form-control"/>
				</div>
				<div class="mb-3">
					<label for="bookYear" class="form-label">Year </label>
					<input type=text id="bookYear" th:field="*{bookYear}" class="form-control"/>
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price </label>
					<input type=text id="price" th:field="*{price}" class="form-control"/>
				</div>
				<input type=submit value="Save" class="btn btn-primary"/>
			</form>	
		</div>
	</body>
</html>