<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title>Bookstore signup</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
	<div class="container d-flex justify-content-center">
		<div>
		<h1 class="display-3 mt-3 mb-5">Sign Up to Bookstore</h1>
	        <form class="text-center" th:object="${signupform}" th:action="@{saveuser}" action="#" method="POST">
	            <div>
	            	<input type="text" th:field="*{firstName}" class="form-control mb-2 p-2" placeholder="First name"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
	            </div>
	            <div>
	            	<input type="text" th:field="*{lastName}" class="form-control mb-2 p-2" placeholder="Last name"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
	            </div>
	            <div>
	            	<input type="text" th:field="*{email}" class="form-control mb-2 p-2" placeholder="Email address"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	            </div>
	            <div>
	            	<input type="text" th:field="*{username}" class="form-control mb-2 p-2" placeholder="Username"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
	            </div>
	            <div>
	            	<input type="password" th:field="*{password}" class="form-control mb-2 p-2" placeholder="Password"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	            </div>
	            <div>
	            	 <input type="password" th:field="*{passwordCheck}" class="form-control mb-2 p-2" placeholder="Confirm password"/>
	            	<span class="text-danger" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></span>
	            </div>
	            <div><input type="submit" value="Signup" class="btn btn-primary mt-5 mb-5"/></div>
	            <p>Already signed up? <a th:href="@{/login}">Login.</a></p>
	        </form>
         </div>
       </div>
	</body>
</html>